/* General Styles */
body {
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header */
header {
  background: #C7B293;
  color: white;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
}

/* Logo */
.header__logo {
  width: 120px;
  height: auto;
  margin-bottom: 1em;
}

/* Real-Time Interface */
.real-time-interface {
  padding: 1.25% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Start Button */
.real-time-interface__button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #CD5144;
  color: white;
  font-size: 18px;
  border: none;
  margin-top: 10px;
}

.real-time-interface__button:hover {
  background: #A13D35;
}

/* Transcription Message Box */
.real-time-interface__message {
  text-align: left;
  width: 80%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  background: white;
  padding: 15px;
  border-radius: 5px;
  border-left: 5px solid #CD5144;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 50px;
}

/* Copy Button (Same as Start button, different color, centered below transcription) */
.copy-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: #6277C2;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.copy-button:hover {
  background: #4F5FA3;
}
